<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Lego Set</title>
</head>
<body>
<form th:object="${newSet}" th:action="@{/update/{id}(id=${newSet.setName})}" method='POST'>

Set Name: <input name="setName" size="20" th:field="*{setName}"><br />
Set Year: <input name="setYear" size="10" th:field="*{setYear}"><br />
Piece Count: <input name="pieceCount" size="20" th:field="*{pieceCount}"><br />
Set Theme: <input name="setTheme" size="20" th:field="*{setTheme}"><br />
<input name="submit" type="submit" value="submit" />
</form>
<a href="viewAll">View all Sets</a>
</body>
</html>